@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NUMETRO MOVIES</h1>
    <p>Browse the latest blockbuster movies and showtimes.</p>

</div>
