@page
@model RazorPagesMovie.Pages.RegisterModelPage

<form method="post">
    <div>
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
    </div>

    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
    </div>

    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" type="password" />
    </div>

    <button type="submit">Register</button>
</form>
